@use 'base'

.About
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding-top: 4rem
    padding-bottom: 5rem
    background-color: base.$almost-white
    gap: 6rem

.About_title
    font-size: 38px
    font-weight: 700
    color: base.$dark-color
    border-bottom: 3px solid base.$light-color
    padding-bottom: 0.4rem
    margin-bottom: -1rem

.About_container
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
.Center
    display: flex
    flex-direction: column
    align-items: center
.circle-up
    visibility: hidden
.line
    visibility: hidden


.Container-left
    text-align: center
    padding: 1.5rem 2.5rem
    color: base.$light-color
.Container-right
    text-align: left
    padding: 1rem 1.2rem
.Container-right-2
    text-align: center
    padding: 0
.Container-language
    background-color: #e0e0e7
    color: black
    border-radius: 1.2rem
    padding: 0.8rem 1.5rem
    margin: 1.5rem 0rem
.Title
    font-size: 24px
    font-weight: 600
    margin: 0.4rem
.Title-small
    font-size: 22px
.Text
    font-size: 16px
    font-weight: 400
    margin: 0.6rem 0.4rem
.Text-big
    font-size: 18px
    margin: 1.8rem 0
.Text-small
    font-size: 12px
    margin: -0.1rem 0.4rem
    color: #535353
.Text-bold
    font-weight: 500
.Logo-school
    height: 4.2rem
    margin: -10px
    margin-top: -0.8rem
.Logo
    height: 2.5rem
    margin: 0.4rem
    margin-right: 1rem
.Foto
    width: 100%
    height: auto


.aws
    --slider-height-percentage: 50%
    --organic-arrow-thickness: 4px
    --organic-arrow-border-radius: 2px
    --organic-arrow-height: 30px
    --organic-arrow-color: #f7f7f7     
    --loader-bar-height: 0px

.Projects_button
    border: none
    border-bottom: 2px solid base.$main-color
    background-color: base.$almost-white
    padding: 0px 6px
    margin: 0rem 0.5rem 
    cursor: pointer
    font-size: 18px
    font-weight: 500
    color: base.$light-color
.Projects_button:hover
    border-radius: 10px
    background-color: base.$main-color
    color: base.$almost-white

.Hobbies_button
    border: 2px solid base.$main-color
    background-color: base.$almost-white
    border-radius: 8px
    padding: 4px 8px
    cursor: pointer
    font-size: 16px
    font-weight: 500
    color: base.$light-color
.Hobbies_button:hover
    background-color: base.$main-color
    color: base.$almost-white

@media screen and (min-width: 650px)
    .About
        padding-bottom: 4rem
    .About_container
        padding-top: 3rem
        align-items: flex-start
    .Container-left
        padding: 1rem 1rem 1rem 0
        margin-left: 4vw
        width: calc(34vw - 1rem)
        // modificar solape
        margin-bottom: 0rem
    .Container-right
        width: 50vw
        margin-left: 38vw
    .Container-right-2
        width: 50vw
        margin-left: 38vw
    .Container-language
        padding: 0.4rem 0
        margin-left: 4vw
    .Text-big
        text-align: center
    .circle-up
        visibility: visible
        position: absolute
        left: 38%
        width: 15px
        height: 15px
        border-radius: 100%
        background-color: base.$light-color
        transform: translate(-50%, -100%)
        margin-top: -2rem
    .line
        visibility: visible
        position: absolute
        left: 38%
        transform: translate(-50%, 0%)
        background-color: base.$light-color
        width: 3px
        height: 400vh
        margin-top: -2rem
    .aws
        --slider-height-percentage: 62%

@media screen and (min-width: 1100px)
    .Container
        padding: 0rem 2.5rem
    .Container-left
        width: 20%
    .Container-right
        width: 30%
    .line
        height: 2300px
        left: 42%
    .circle-up
        left: 42%

