@use 'base'

.About
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding-top: 4rem
    padding-bottom: 5rem
    background-color: base.$almost-white
    gap: 6rem

.About_title
    font-size: 38px
    font-weight: 700
    color: base.$dark-color
    border-bottom: 3px solid base.$light-color
    padding-bottom: 0.4rem
    margin-bottom: -1rem

.About_container
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
.Center
    display: flex
    flex-direction: column
    align-items: center
    width: 100%

.circle-up
    visibility: hidden
.line
    visibility: hidden


.Container
    padding: 1rem 2rem
.Container-left
    text-align: right
    width: 60%
.Container-right
    text-align: left
.Container_title
    font-size: 24px
    font-weight: 600
    margin: 0.6rem
.Container_description
    font-size: 16px
    font-weight: 400
    margin: 0.5rem
.des_bold
    font-size: 18px
    font-weight: 500
.Foto
    height: 5rem
    margin: -6px
    margin-top: -1rem
.Logo
    height: 4rem
    margin-left: 2rem
.Logo2
    height: 3rem
    margin-bottom: 0.4rem
    margin-right: 2rem


.aws
    --slider-height-percentage: 50%
    --organic-arrow-thickness: 4px
    --organic-arrow-border-radius: 2px
    --organic-arrow-height: 30px
    --organic-arrow-color: #f7f7f7     
    --loader-bar-height: 0px

@media screen and (min-width: 600px)
    .About
        padding-bottom: 13rem
    .About_container
        padding-top: 3rem
    .Container
        padding: 0rem 1.5rem
        margin-bottom: -8rem
    .Container-left
        transform: translate(-50%, 0%)
        width: 30%
    .Container-right
        transform: translate(50%, 0%)
        width: 40%
    .circle-up
        visibility: visible
        position: absolute
        left: 50%
        width: 15px
        height: 15px
        border-radius: 100%
        background-color: base.$light-color
        transform: translate(-50%, -100%)
        margin-top: -2rem
    .line
        visibility: visible
        position: absolute
        left: 50%
        transform: translate(-50%, 0%)
        background-color: base.$light-color
        width: 3px
        height: 2100px
        margin-top: -2rem
    .aws
        --slider-height-percentage: 62%

@media screen and (min-width: 1300px)
    .Container
        padding: 0rem 2.5rem
    .Container-left
        width: 24%
    .Container-right
        width: 30%
    .line
        height: 2300px

