@use 'base'


.Formular
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 0.2rem
    padding: 3rem 0

.Formular__tittle
    color: white

.Formular__input
    width: 400px

.Formular__text
    width: 402px
    height: 120px
    resize: none

.Formular__footer
    display: flex
    gap: 10px
    align-self: flex-start
    align-items: center

.Formular__button
    border: none
    background-color: cadetblue

.Formular__info
    color: white

