@use 'base'

.Game
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: #22252c
  height: 150vh
  width: 100%

.Game_container-buttons
  position: absolute
  top: 3rem
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  gap: 8%
.Game_button
  border: 3px solid base.$main-color
  border-radius: 2px
  background-color: base.$almost-white
  width: 6rem
  height: 2.2rem
  margin: 0
  cursor: pointer
  font-size: 20px
  font-weight: 500
  color: base.$light-color
.Game_button:hover
  background-color: base.$main-color
  color: base.$almost-white

.Game_arrow
  position: absolute
  width: 28px
  height: 28px
  border-top: 3px solid base.$main-color
  border-right: 3px solid base.$main-color
  border-radius: 3px
  rotate: 135deg
  animation: oscile 3.5s ease-in-out infinite
@keyframes oscile
  0%
    top: 10rem
  50%
    top: 12rem
  100%
    top: 10rem

.circle
  height: 20px
  width: 20px
  background-color: base.$almost-white
  box-shadow: 0px 0px 5px 4px base.$main-color
  border-radius: 100%
  position: fixed
  top: 50vh-2vh
  transform: translate(-50%, -50%)
.line_top
  width: 100%
  height: 0px
  border-top: 3px solid base.$main-color
  position: absolute
  top: 50vh - 4vh
  z-index: 1
.line_bottom
  position: absolute
  width: 45%
  height: 6px
  transform: translateY(90%)
  border-top: 3px solid base.$main-color
  bottom: 0px
.line_bottom-left
  left: 0
  border-right: 3px solid base.$main-color
  border-top-right-radius: 15px
.line_bottom-right
  right: 0
  border-left: 3px solid base.$main-color
  border-top-left-radius: 15px
.line_hole
  width: 8%
  height: 4px
  background-color: base.$almost-white
  position: absolute
  bottom: 0px


.logo
  position: absolute
  color: base.$main-color
  opacity: 80%
  animation: appear 0.8s ease-in
@keyframes appear
  0%
    opacity: 0%
  100%
    opacity: 80%
.logo-top
  transform: translate(-50%, -75%)
  top: 50vh - 4vh
.logo-bottom
  transform: translate(50%, -85%)
  rotate: 180deg
  bottom: 0

.Space_container
  width: 100%
  height: 50vh
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  color: base.$almost-white
  text-align: center
p
  margin: 0.6rem
  z-index: 1


.drop-left
  transform-origin: bottom left
  animation: drop-left 0.8s ease-in-out
  rotate: 108deg
@keyframes drop-left
  0%
    rotate: 0deg
  100%
    rotate: 108deg
.drop-right
  transform-origin: bottom right
  animation: drop-right 0.8s ease-in-out
  rotate: -108deg
@keyframes drop-right
  0%
    rotate: 0deg
  100%
    rotate: -108deg

.middle-left
  animation: middle-left 2s ease-in-out
  rotate: 92deg
@keyframes middle-left
  0%
    rotate: 108deg
  50%
    rotate: 81deg
  100%
    rotate: 92deg
.middle-right
  animation: middle-right 2s ease-in-out
  rotate: -93deg
@keyframes middle-right
  0%
    rotate: -108deg
  50%
    rotate: -81deg
  100%
    rotate: -93deg

.move-left
  animation: move-left 3s ease-in-out infinite
@keyframes move-left
  0%
    rotate: 92deg
  50%
    rotate: 87deg
  100%
    rotate: 92deg
.move-right
  animation: move-right 2s ease-in-out infinite
@keyframes move-right
  0%
    rotate: -93deg
  50%
    rotate: -87deg
  100%
    rotate: -93deg

.rotate
  position: absolute
  z-index: 1
  animation: rotate 0.35s linear infinite, move-out 3.5s normal forwards
@keyframes rotate
  0%
    rotate: 0deg
  100%
    rotate: 360deg
@keyframes move-out
  0%
    left: 36%
    bottom: 50%
  100%
    left: -60%
    bottom: 160%


.gandalf
  background-image: url('../../public/gandalf.png')
  background-size: contain  
  background-position: center
  background-repeat: no-repeat
  height: 65px
  width:  90px
  margin: 0
  margin-bottom: -7px

.limit
  padding: 0.7rem
  width: 96%
  animation: light 2.8s ease-in-out infinite
  font-size: 13px
@keyframes light
  0%
    box-shadow: 0px -12px 15px -15px base.$main-color
  50%
    box-shadow: 0px -20px 15px -15px base.$main-color
  100%
    box-shadow: 0px -12px 15px -15px base.$main-color

.limit-remove
  animation: remove 2s linear
  color: #000000
@keyframes remove
  0%
  100% 
    color: #000000


.Footer
  background-color: #22252c

.Footer-transform
  animation: transform 2s linear
  background-color: #000000
@keyframes transform
  0%
    background-color: #22252c 
  100% 
    background-color: #000000 
    